<mat-toolbar class="navbar">
  <div class="navbar-content">
    <div class="navbar-brand" (mouseenter)="animateBrand()">
      <div class="brand-icon">
        <svg class="brand-icon-svg" viewBox="0 0 40 40">
          <line #leftLine x1="20" y1="6" x2="7" y2="32" />
          <line #rightLine x1="20" y1="6" x2="33" y2="32" />
          <line #bottomLine x1="7" y1="32" x2="33" y2="32" />
        </svg>
      </div>

      <span>AngularPractice</span>
    </div>

    <nav class="navbar-links">
      <a routerLink="/home" routerLinkActive="active">
        {{ 'NAVBAR.HOME' | translate }}
      </a>

      <a routerLink="/about" routerLinkActive="active">
        {{ 'NAVBAR.ABOUT' | translate }}
      </a>

      <a routerLink="/contact" routerLinkActive="active">
        {{ 'NAVBAR.CONTACT' | translate }}
      </a>
    </nav>

    <div class="navbar-actions">
      @if (auth.isLoggedIn()) {
        <button class="auth-button" mat-button type="button" (click)="logout()">
          <mat-icon>logout</mat-icon>
          {{ 'NAVBAR.LOGOUT' | translate }}
        </button>
      } @else {
        <a class="auth-button" mat-button routerLink="/login">
          <mat-icon>login</mat-icon>
          {{ 'NAVBAR.LOGIN' | translate }}
        </a>
      }

      <button class="navbar-language" type="button" [matMenuTriggerFor]="languageMenu">
        <mat-icon>language</mat-icon>
        <span>ES / EN</span>
        <mat-icon class="language-arrow">expand_more</mat-icon>
      </button>
    </div>
  </div>

  <mat-menu #languageMenu="matMenu">
    <button mat-menu-item (click)="changeLanguage('es')">Español</button>
    <button mat-menu-item (click)="changeLanguage('en')">English</button>
  </mat-menu>
</mat-toolbar>
